fastapi==0.115.4
uvicorn==0.32.0
python-multipart==0.0.17
pandas==2.1.4
numpy==1.26.3
scikit-learn==1.4.2
matplotlib==3.8.4
seaborn==0.13.2
xgboost==2.1.2
imbalanced-learn==0.12.4
optuna==4.1.0
joblib==1.4.2
python-dotenv==1.0.0
